
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "layouts/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}Password Reset Request{% endblock %}
{% block body %}
<div class="content-section">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <div class="center">
        <h1>{{ _('Send password reset instructions') }}</h1>
        <br> 
        Please enter the email address associated with your account and we will send a link to reset your password.
        <br><br>
        {{ wtf.quick_form(forgot_password_form) }}
</div>
{% endblock %}
