{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "layouts/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="content-section">
    {{ utils.flashed_messages() }}
    <div class="center">
        <h1>{{ _('Reset password') }}</h1>
        <br> 
        {{ wtf.quick_form(reset_password_form) }}
</div>
{% endblock %}
